body, html {
  margin: 0px;
  width: 200px;
  height: 200px;
  outline: none;
  padding: 0;
  overflow: hidden; }

h1 {
  margin-top: 0; }


/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIndlYnBhY2s6Ly9jb3B5Y2FuLmNvZGUvLi9zb3VyY2VzL3BvcHVwLnNjc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBRUE7RUFDSSxXQUFXO0VBQ2QsWUFBWTtFQUNaLGFBQWE7RUFDYixhQUFhO0VBQ2IsVUFBVTtFQUNWLGdCQUFnQjs7QUFFakI7RUFDQyxhQUFhIiwiZmlsZSI6InBvcHVwLmNzcyIsInNvdXJjZXNDb250ZW50IjpbIi8vQGltcG9ydCBcIn5ub3JtYWxpemUuY3NzL25vcm1hbGl6ZS5jc3NcIjtcblxuYm9keSwgaHRtbCB7XG4gICAgbWFyZ2luOiAwcHg7XG5cdHdpZHRoOiAyMDBweDtcblx0aGVpZ2h0OiAyMDBweDtcblx0b3V0bGluZTogbm9uZTtcblx0cGFkZGluZzogMDtcblx0b3ZlcmZsb3c6IGhpZGRlbjtcbn1cbmgxIHtcblx0bWFyZ2luLXRvcDogMDtcbn1cbiJdLCJzb3VyY2VSb290IjoiIn0=*/